//Colores

$purple: #690056;
$darkBlue: #000120;
$navy: #03045e;
$skyBlue: #2dd6ff;
$turquoise: #16f0df;
$black: #030303;
$gray: #f4f4f4;
$white: #ffffff;

//Fuentes:

$light: 300;
$regular: 400;
$bold: 700;
